<h1><%= @user.username %></h1>
<% @user.checklists.each do |checklist| %>
    <%= link_to(checklist.title, checklist_path(checklist))%>
<% end %>

<%= link_to("edit this user", edit_user_path(@user))%>
<p>Delete this user?</p>
<%= button_to 'delete user', @user, method: :delete %>