<h1>All Checklists</h1>

<% @checklists.each do |checklist| %>
    <%= link_to(checklist.title, checklist_path(checklist))%>
<% end %>

<p>What do you want to do?</p>
<%= link_to "Create a New Checklist", new_checklist_path%>
