body {
	max-width: 960px;
	margin: 0px auto;
	color: #12457f;
	font-family: 'Indie Flower';
	background-image: img("flower.jpg");
;
}

.navbar {
	margin: 0px auto; 
	margin-bottom: 10px;
	padding: 2.25%;
	text-align: center;
	vertical-align: middle;
	height: 60px;
	border-bottom: 5px solid black;


	ul{
		background-color: #12457f;
		margin: 0px auto 0px auto; 
		max-width: 960px;

		.right {
			float: right;
		}

		.left{
				float: left;
			}
		
		li{
			display:inline-block;
			padding-left: 20px;
		
		}
		.nav_img{
			margin-top: -10px;
		}
	}

	// li:hover{
	// 	background-color: red;
	// 	transition-duration: 1s;
	// }

}

input[type="submit"]{
		color: #12457f;
		background-color: white;
		width: 120px;
		height: 50px;
		font-family: 'Indie Flower';
		font-size: 20px;
		&:hover {
			cursor: default; transform: rotate(360deg);
			transition: all 1s ease-in-out 0s; 
			background-image: url("flag1.png");
			object-fit: fill; 
		};
}




input[type=text], select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background-color: #12457f;
;
}

input[type=password], select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background-color: #D71F19;
}

select {
	width: 20%;
	color: black;
	background-color: white;
	border-radius: 5px;
	border: 6px solid #12457f;
	height: 70px;
}

.welcome_image {
	img {
		width: 50%;
		float: left;
		&:hover {
			-webkit-animation:spin 4s linear infinite;
    		-moz-animation:spin 4s linear infinite;
    		animation:spin 4s linear infinite;
		}
	}
}

.logged_in_wrapper {
	float: left;
	width: 300px;
	margin-left: 88px;
	margin-top: 40px;
	.logged_in_question {
		margin: 0 auto;
		text-align: center;
		width: 400px;
	}
}

.welcome_page_wrapper {
	margin-top: 100px;
}

img:hover { cursor: default; transform: rotate(360deg);
	transition: all 1s ease-in-out 0s; }

.user_pic {
	margin: 0 auto;
	text-align: center;
}

.user_checklists {
	clear: both;
	width: 500px;
	float: left;
}

.user_name {
	margin: 0 auto;
	text-align: center;
	width: 400px;
}

.list-wrapper{
	width: 500px;
	text-align: center;
	margin: 0 auto;
	.upcoming_tasks{
		margin-top: 20px;
		border: 1px solid black;
	}
}

.checklist_tasks{
	margin: 0 auto;
}

.user_buttons{
	background-color: red;
}



