<p> <%= @category.category_name %>  </p>
<h5> Checklists: </h5>

<ul>
    <% @category.checklists.each do |checklist| %> 
        <li> 
            <%=link_to checklist.title, checklist_path(checklist) %>  
        </li>
    <% end %> 
</ul>